/* ============================= */
/*         ZMIENNE KOLORÓW       */
/* ============================= */
:root {
  --searchBar-color: #acadbc;
  --background-col: #0a090c;
  --platinum: #f0edee;
}

/* ============================= */
/*         RESET / PODSTAWY      */
/* ============================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-col);
  color: white;
  font-family: sans-serif;
}


header {
    background-color: var(--background-col);
    text-align: center;
    padding: 3%;
    a {
        text-decoration: none;
    }
}

main {
    
}

.rejestracjamain {
    width: 500px;
    height: 500px;
    align-items: center;
    margin: auto;
    text-align: center;
    h2 {
        font-size: 40px;
    }
    label {
        font-size: 30px;
    }

    
    input {
        width: 500px;
        border-radius: 20px;
        height: 50px;
        font-size: 30px;
    }

       #rejestracjabutton {
        font-size: 20px;
        color: black;
        background-color: var(--platinum);
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 30px;
        transition-duration: 0.7s;
    }

    #rejestracjabutton:hover {
        font-size: 22px;
        background-color: white;
        padding: 20px;
        padding-left: 60px;
        padding-right: 60px;
        transition-duration: 0.7s;
        cursor: pointer;

    }

    #rejestracjaa {
        font-size: 20px;
        color: black;
        background-color: var(--platinum);
        width: 10%;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 30px;
        transition-duration: 0.7s;
    }

    #rejestracjaa:hover {
        font-size: 22px;
        width: 15%;
        background-color: white;
        padding: 20px;
        padding-left: 60px;
        padding-right: 60px;
        transition-duration: 0.7s;

    }



    p {
        padding: 10px;
        font-size: 25px;
    }
    

}


/* ============================= */
/*            FOOTER             */
/* ============================= */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #acadbc;
}

footer div {
  flex: 1;
  color: white;
  text-align: center;
  margin: 0 10px 0;
  background-color: transparent;
}

footer img {
  background-color: transparent;
  height: 30px;
  width: 30px;
}

footer h3,
footer p,
footer a {
  background-color: transparent;
  color: black;
  text-decoration: none;
}

    





@media screen and (max-width: 768px) { 
    header {
        h1 {
        font-size: 17px;
    }
}

    .logowaniemain {
        width: 200px;
        height: 200px;
        
    input {
        width: 200px;
    }
    }


}



